*{
    margin:0;
    padding:0;
    box-sizing:border-box;
   
}
/* sectin1 */
.nav{
    display:flex;
    background-color: rgb(21, 26, 31);
color:white;
 height: 80px;
}
.sub1{
    margin-top: 15px;
}
.sub{
    margin-left:15px;
    margin-top: 25px;
    font-size:small;
}
.nav1{
margin-left:290px;
margin-top: 15px;
}

.nav1 ul li {
    display: inline-block;
    padding:15px;
} 
.nav1 li a{
text-decoration:none;
color:white;
}
/* section second */
.grid{
    margin-top:30px;
    display:flex;
    gap:40px;
    padding-left:50px;
}
#a1{
    width:80%;
}
#a img{
width:270px;
height:340px;
overflow-clip-margin: content-box;
    overflow: clip;

border-radius:70px; 
}
#a1{
    margin-top:15px
}
#a1 h2{
    font-size: 20px;
}
#a1 p{
    padding-top:20px;
    font-size:19px;
    line-height:26px;
}
/* section 3rd */
.ed{
    margin-top:60px
}
.edu{
    padding-left:50px;
}
.ed2{
    background-color: rgb(52, 52, 90);
    height:140px;
    width:96%;
    color:white;
    border-radius: 10px;
    padding-top:15px;
    padding-left:14px;
    line-height:25px;
    margin-top:20px;
}
.ed2 .a {
    padding-top:10px;
}
.ed3{
     background-color: rgb(52, 52, 90);
    height:100px;
    width:96%;
    color:white;
    border-radius: 10px;
    margin-top:15px;
    padding-top:10px;
     padding-left:14px;
     line-height:25px;

}
.ed3 .a {
    padding-top:10px;
}

/* section 4th */

.q{
    margin-top:80px;
    margin-left:50px;
}
.q h2{
    font-size:29px;
}
.s4{
    display:flex;
    margin-top:20px;
    margin-left:170px;
    border-left:2px solid rgb(10, 17, 96);
    height:250px;
}
.s41{
    width:px;
    height: 100px;
    border-left:2px solid rgb(13, 13, 96);
    margin-left:50px;
    margin-top:20px;
}
.ex{
    /* width:80%; */
    margin-left:20px;   
    line-height: 30px;
   
}
.ex p{
 font-size: 18px;
}
.ass{
    margin-left:300px;
}
.ass img{
    width:380px;
    height:300px;
}
.vx{
    margin-top:70px;
    margin-left:70px;
    font-size:20px;
}
.vx1{
    display:flex;
    gap:40px;
    margin-top:20px;
}
.pic1{
    background-color: rgb(21, 21, 60);
    width:380px;
    height:370px;
     border-radius:10px;
     margin-left:25px;
   
}
.pic1 img{
    width:380px;
    height:250;
    height:250px;
     border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.pic1 h2{
    padding-top:30px;
    color:white;
    padding:10px;
}
.pic1 p{
     padding-top:15px;
    color:white;
    line-height:20px;
    padding:10px;
}

.pic2{
    background-color: rgb(21, 21, 60);
    width:380px;
    height:370px;
     border-radius:10px;
   
}
.pic2 img{
    width:380px;
    height:250;
    height:250px;
     border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.pic2 h2{
    padding-top:30px;
    color:white;
    padding:10px;
}
.pic2 p{
     padding-top:15px;
    color:white;
    line-height:20px;
    padding:10px;
}

.pic3{
    background-color: rgb(21, 21, 60);
    width:380px;
    height:370px;
     border-radius:10px;
   
}
.pic3 img{
    width:380px;
    height:250;
    height:250px;
     border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.pic3 h2{
    padding-top:30px;
    color:white;
    padding:10px;
}
.pic3 p{
     padding-top:15px;
    color:white;
    line-height:20px;
    padding:10px;
}

/* section 6th */

.tk{
    margin-top:60px;
    padding-left:25px;
    font-size:larger;
}
.cv{

}

.cv1{
    display: flex;
    width:100px;
    height:100px;
    gap:30px;
    margin-left:40px;
    margin-top:40px;
}

.az h1{
margin-top:60px;
margin-left:20px;
}
.az1{
    justify-items: center;
    padding:60px;
}
.az1 form input{
    padding:10px;
    width:280px;
    margin:10px;
    border-radius:5px;
    border:2px gray solid;
}

.az1 form textarea{
    padding:10px;
    width:280px;
    margin:10px;
    border-radius:5px;
    border:2px gray solid;
}
.az1 button{
    padding:5px;
    width:280px;
    margin-top:10px;
    margin-left:435px;
    background-color: black;
    color:white;
    border-radius:5px;
}

/* section 7th */

.ft{
    background-color:rgb(7, 7, 29);
    width:100%;
    height:160px;
}
.ft h1{
    color:white;
    justify-self: center;
    padding-top:40px;
}
.ft p{
  color:white;
    justify-self: center; 
    line-height: 25px; 
}
 .p1 a{
text-decoration: none;
color: rgb(51, 47, 56);
}
#moon{
    width:40px;
    height:50px;
    margin-left: 96%;
    position: fixed;


}
#moon i{
    color:rgba(243, 65, 65, 0.968);
    font-size: 40px;
    
}